# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Django Migrations
**/migrations/*.py
!**/migrations/__init__.py

# Assets
node_modules/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python




